body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 120px;
}

.logo,
.hero-main {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.header-image img{
    width: 550px;
    height: 250px;
}

.intro {
    display: flex;
    text-wrap: wrap;
    padding: 100px 120px;
    gap: 80px;
}

.hero-main {
    font-size: 48px;
    font-weight: 1000;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0px;
}

.intro-button {
    font-size: 18px;
    background-color: #3882f6;
    padding: 10px 40px;
    color: white;
    border-radius: 12px;
    border-color: #3882f6;
    font-weight: bolder;
}

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 120px;
    padding-bottom: 150px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    margin-bottom: 40px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-content: center;
    gap: 20px;
}

.info-image {
    width: 60px;
    height: 60px;
    border: 5px solid rgb(77, 77, 255);
    padding: 50px;
    border-radius: 20px;
}

.info-text {
    display: flex;
    text-align: center;
    color: #525252;
}